
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  border: red solid 1px;
}

.nav ul li {
  list-style-type: none;
}

.nav ul li a{
  color: black;
  text-decoration: none;
}